{% import "macros/forms.html" as forms %}
{% extends "base.html" %}
{% block content %}

{% if message %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}

<h1>Tietojenkäsittelytieteen harjoitustyöt</h1>

<table  class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Kurssi</th>
            <th>Aiheita</th>
            {% if user_logged_in %}
            <th></th>
            {% endif %}
        </tr>
    </thead>

    {%for course in courses %}
    <tbody>
        <tr>
            <td><a href="{{base_path}}/aiheet/{{course.id}}">{{course.name}}</a></td>
            <td>{{counts[course.id]}}</td>
            {% if user_logged_in %}
            <td class="text-center">{{forms.destroy_button_small("#{base_path}/kurssi/#{course.id}/destroy", "Oletko varma, että haluat poistaa kurssin?")}}</td>
            {% endif %}
        </tr>
    </tbody>
    {% endfor %}
</table>

{% if user_logged_in %}
<button class="btn btn-primary" data-toggle="modal" data-target="#myModal">Lisää kurssi</button>
{% endif %}

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Lisää kurssi</h4>
            </div>
            {% if errors %}
            <div class="alert, alert-danger">
                <ul>
                    {% for error in errors %}
                    <li>{{error}}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            <div class="modal-body">
                <div>
                    <form class="form-horizontal" method="post" action="{{base_path}}/kurssit">
                        <div class="form-group">
                            <label class="col-md-2 control-label">Nimi</label>
                            <div class="col-md-8">
                                <input name="name" type="text" class="form-control input-md" value="{{attributes.name}}">
                            </div>
                            <div class="form-group col-md-2">
                                <button type="submit" class="btn btn-primary pull-right">Lisää</button>
                            </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Peruuta</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block body %}
<script src="{{base_path}}/vendor/jquery.min.js"></script>
<script src="{{base_path}}/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="{{base_path}}/vendor/bootstrap/js/bootstrap-select.min.js"></script>
<script src="{{base_path}}/vendor/bootstrap/js/pagination.js"></script>
<script src="{{base_path}}/assets/js/site.js"></script>
{% if error %}
<script type="text/javascript">
$(window).load(function () {
    $('#myModal').modal('show');
});
</script>
{% endif %}
{% endblock %}
