{% import "macros/forms.html" as forms %}
{% extends "base.html" %}

{% block content %}

{% if message %}
<br>
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}

{% if rightserror %}
<div class="alert, alert-danger">{{rightserror}}</div>
{% endif %}

<h1>Yhteenveto kurssin <strong>{{course.name}}</strong> aiheista ja suorituksista</h1>

<h4>Top 10 suosituinta aihetta</h4>

<table class="table table-striped table-bordered">
      <thead>
          <tr>
              <th>Aihe</th>
              <th>Vaikeusaste</th>
              <th>Suorituskerrat</th>
              <th>Keskimääräinen arvosana</th>
              <th>Lisätty</th>
          </tr>
      </thead>
      <tbody>
          {% for subject in subjects %}
          <tr>
              <td><a href="{{base_path}}/aihe/{{subject.id}}">{{subject.name}}</a></td>
              <td>{{subject.difficulty}}</td>
              <td>{{subject.all}}</td>
              <td>{{subject.avggrade}}</td>
              <td>{{subject.added}}</td>
          </tr>
          {% endfor %}
      </tbody>
  </table>

<ul>
    <li style="font-size: 125%"><strong>Suorituksia kurssilla yhteensä: </strong>{{info.all}}</li>
    <li style="font-size: 125%"><strong>Keskeytyksiä kurssilla yhteensä: </strong>{{info.aborted}}</li>
    <li style="font-size: 125%"><strong>Hylättyjä suorituksia kurssilla yhteensä: </strong>{{info.failed}}</li>
    <li style="font-size: 125%"><strong>Kurssin keskimääräinen arvosana: </strong>{{info.avggrade}}</li>
</ul>

{% endblock %}
