{% block content %}
<div class="container">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse1">Suoritukset</a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Oppilas</th>
                            <th>Opiskelijanumero</th>
                            <th>Status</th>
                            <th>Arvosana</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="myTable">
                        {% for assignment in assignments %}
                        <tr>
                            <td>{{loop.index}}</td>
                            <td><a href="{{base_path}}/oppilas/{{assignment.student.studentnumber}}">{{assignment.student.name}}</a></td>
                            <td>{{assignment.student.studentnumber}}</td>
                            <td>{{assignment.status}}</td>
                            <td>{{assignment.grade}}</td>
                            <td><a href="{{base_path}}/suoritus/{{assignment.id}}">Tietoja <span class="glyphicon glyphicon-chevron-right"></span></a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="col-md-12 text-center">
                    <ul class="pagination pagination-lg pager" id="myPager"></ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}