{% extends "base.html" %}
{% block content %}

{% if message %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}

  <h1>Aiheet</h1>
  
  <table class="table table-striped table-bordered">
      <thead>
          <tr>
              <th>Aihe</th>
              <th>Vaikeusaste</th>
              <th>Maksimiarvosana</th>
              <th>Suorituskerrat</th>
              <th>Keskimääräinen arvosana</th>
          </tr>
      </thead>
      <tbody>
          {% for aihe in aiheet %}
          <tr>
              <td><a href="{{base_path}}/aihe/{{aihe.id}}">{{aihe.name}}</a></td>
              <td>{{aihe.difficulty}}</td>
              <td>{{aihe.maxgrade}}</td>
              <td></td>
              <td></td>
          </tr>
          {% endfor %}
      </tbody>
  </table>
  
  {% if user_logged_in %}
  <a href="{{base_path}}/aiheet/{{course.id}}/new" class="btn btn-primary">Lisää aihe</a>
  {% endif %}

{% endblock %}
