{% import "macros/forms.html" as forms %}
{% extends "base.html" %}
{% block content %}

<div>
    <a href="{{base_path}}/aiheet/{{subject.course.id}}" class="btn btn-primary btn-arrow-left">Takaisin aiheisiin</a>
</div>

{% if message %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}

<h1>{{subject.name}}</h1>

<ul>
    <li><strong>Vaikeusaste: </strong>{{subject.difficulty}}</li>
    <li><strong>Arvosanamaksimi: </strong>{{subject.maxgrade}}</li>
    <li><strong>Valintakerrat: </strong>1</li>
    <li><strong>Keskeytykset: </strong>0</li>
    <li><strong>Suoritusprosentti: </strong>100%</li>
    <li><strong>Keskimääräinen arvosana: </strong>4</li>
    <li><strong>Lisätty: </strong>{{subject.added}}</li>
    <li><strong>Viimeksi valittu: </strong>1.1.2016</li>
</ul>

<p style="word-wrap: break-word">
    {{subject.description}}
</p>

<div>
    <a href="{{base_path}}/aihe/{{subject.id}}/edit" class="btn btn-default">Muokkaa</a>
    {{forms.destroy_button("#{base_path}/aihe/#{subject.id}/destroy")}}
</div>

{% endblock %}
